<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
			#
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wotounima.png</string>
            <key>size</key>
            <string>{498,129}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55d4f107bbbc9614aeb662717a144b66$</string>
            <key>textureFileName</key>
            <string>wotounima.png</string>
        </dict>
    </dict>
</plist>